# Prepare Your Data For Machine Learning

- Many machine learning algorithms make assumptions about your data.
- It is often a very good idea to prepare your data in such way to best expose the structure of the problem to the machine learning algorithms that you intend to use.

### Agenda:
1. Rescale data.
2. Standardize data.
3. Normalize data.
4. Binarize data.

# Why we need Data Pre-Processing

- You almost always need to pre-process your data. It is a required step.
- difficulty is that different algorithms make different assumptions about your data and may require different transforms.
- Further, when you follow all of the rules and prepare your data, sometimes algorithmscan deliver better results without pre-processing.
- Generally, I would recommend creating many different views and transforms of your data, then exercise a handful of algorithms on each view of your dataset.
- This will help you to flush out which data transforms might be better at exposing the structure of your problem in general.

# Data Transforms
- Load the dataset from a URL.
- Split the dataset into the input and output variables for machine learning.
- Apply a pre-processing transform to the input variables.
- Summarize the data to show the change.

#### The scikit-learn library provides two standard idioms for transforming data. Each are useful in different circumstances.
 Fit and Multiple Transform.
 Combined Fit-And-Transform.

##### The Fit and Multiple Transform method is the preferred approach. You call the fit() function to prepare the parameters of the transform once on your data. Then later you can use the transform() function on the same data to prepare it for modeling and again on the test or validation dataset or new data that you may see in the future.

* The Combined Fit-And-Transform is a convenience that you can use for one o tasks. This might be useful if you are interested in plotting or summarizing the transformed data.

http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

# Rescale Data

- When your data is comprised of attributes with varying scales, many machine learning algorithms can benefit from rescaling the attributes to all have the same scale.
- Often this is referred to as normalization and attributes are often rescaled into the range between 0 and 1.
https://en.wikipedia.org/wiki/Feature_scaling
- This is useful for optimization algorithms used in the core of machine learning algorithms like gradient descent.
- It is also useful for algorithms that weight inputs like regression and neural networks and algorithms that use distance measures like k-Nearest Neighbors.

In [3]:
# Pima Indians Diabetes Dataset
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
#Loading dataset
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv('pima-indians-diabetes.data',names=names)

In [4]:
# separate array into input and output components
X = df.drop('class',axis='columns')
y = df['class']

In [8]:
scaler = MinMaxScaler()

In [9]:
rescaleX = scaler.fit_transform(X)

In [12]:
rescaleX = pd.DataFrame(rescaleX)

In [13]:
rescaleX.head()

,0,1,2,3,4,5,6,7
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000

# Standardize Data
- Standardization is a useful technique to transform attributes with a Gaussian distribution and differing means and standard deviations to a standard Gaussian distribution with a mean of 0 and a standard deviation of 1.
- It is most suitable for techniques that assume a Gaussian distribution in the input variables and work better with rescaled data, such as linear regression, logistic regression and linear discriminate analysis.

In [14]:
# Standardize data (0 mean, 1 stdev)
from sklearn.preprocessing import StandardScaler
stdscaler = StandardScaler()

In [15]:
stdrescale = stdscaler.fit_transform(X)

In [16]:
stdrescale = pd.DataFrame(stdrescale)

In [17]:
stdrescale.head()

,0,1,2,3,4,5,6,7
0,0.639947,0.848324,0.149641,0.907270,-0.692891,0.204013,0.468492,1.425995
1,-0.844885,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-0.365061,-0.190672
2,1.233880,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,0.604397,-0.105584
3,-0.844885,-0.998208,-0.160546,0.154533,0.123302,-0.494043,-0.920763,-1.041549
4,-1.141852,0.504055,-1.504687,0.907270,0.765836,1.409746,5.484909,-0.020496

# Normalize Data
- Normalizing in scikit-learn refers to rescaling each observation (row) to have a length of 1 (called a unit norm or a vector with the length of 1 in linear algebra).
- This pre-processing method can be useful for sparse datasets (lots of zeros) with attributes of varying scales when using algorithms that weight input values such as neural networks and algorithms that use distance measures such as k-Nearest Neighbors.

In [18]:
from sklearn.preprocessing import Normalizer
nrl = Normalizer()
nrlX = nrl.fit_transform(X)

In [19]:
nrlX = pd.DataFrame(nrlX)
nrlX.head()

,0,1,2,3,4,5,6,7
0,0.033552,0.827625,0.402628,0.195722,0.000000,0.187893,0.003506,0.279603
1,0.008424,0.716040,0.555984,0.244296,0.000000,0.224079,0.002957,0.261144
2,0.040398,0.924097,0.323181,0.000000,0.000000,0.117658,0.003393,0.161591
3,0.006612,0.588467,0.436392,0.152076,0.621527,0.185797,0.001104,0.138852
4,0.000000,0.596386,0.174127,0.152361,0.731335,0.187622,0.009960,0.143655

# Binarize Data (Make Binary)
- You can transform your data using a binary threshold. All values above the threshold are marked 1 and all equal to or below are marked as 0.
- This is called binarizing your data or thresholding your data. It can be useful when you have probabilities that you want to make crisp values.
- It is also useful when feature engineering and you want to add new features that indicate something meaningful.

In [24]:
# binarization
from sklearn.preprocessing import Binarizer

In [25]:
binX = Binarizer(threshold=0.0).fit_transform(X)
binX = pd.DataFrame(binX)
binX.head()

     0    1    2    3    4    5    6    7
0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0
2  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
4  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

##### You can see that all values equal or less than 0 are marked 0 and all of those above 0 are marked 1.